<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.MyUsersMapper">
	<insert id="insert" parameterType="quiz.vo.MyUsersVo">
		insert into myusers values(
			#{id},
			#{pw},
			#{email},
			sysdate
		)
	</insert>
	
	<select id="selectAll" resultType="quiz.vo.MyUsersVo">
		select * from myusers
	</select>
	
	<select id="loginChk" parameterType="hashmap" resultType="quiz.vo.MyUsersVo">
		select id from myusers where id = #{id} and pw = #{pw}
	</select>
	
	<select id="pagning" resultType="quiz.vo.MyUsersVo" parameterType="hashmap">
		<![CDATA[ 
			select rownum, x.* 
				from (
					select aa.*, rownum rnum
						from ( select a.* from myusers a order by a.mydate ) aa
			) x 
		where x.rnum >=#{sNum} and x.rnum <=#{eNum} ]]>
	</select>
	
	<select id="pageCount" resultType="int">
		select count(*) cnt from myusers
	</select>
</mapper>
