<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

  
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="scott"/>
		<property name="password" value="tiger"/>	
	</bean>	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations" value="classpath*:mybatis/*.xml"/>
	</bean>	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>
	
	<!-- dao설정 -->
	<bean id="pointdao" class="com.jhta.spring20.dao.PointsDao">
		<property name="sqlSessionTemplate" ref="sqlSession"/>
	</bean>
    
    <bean id="membersdao" class="com.jhta.spring20.dao.MembersDao">
    	<property name="session" ref="sqlSession"/>
    </bean>
    
    <!-- service설정 -->
    <bean id="membersService" class="com.jhta.spring20.service.MembersServiceImpl">
    	<property name="membersDao" ref="membersdao"/>
    	<property name="pointsDao" ref="pointdao"/>
    </bean>
    
    <!-- 트랜잭션 설정 -->
    <bean id="transationManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:advice id="advice" transaction-manager="transationManager">
    	<!-- 트랜젝션 전파규칙 설정 -->
    	<tx:attributes>
    		<!-- insert로 시작하는 모든 메소드에 트랜젝션 적용해라. -->
    		<tx:method name="insert" propagation="REQUIRED"/>
    	</tx:attributes>
    </tx:advice>
    <aop:config>
    	<aop:pointcut expression="execution(* com.jhta.spring20.service.*Service*.*(..))" id="pointcut"/>
    	<aop:advisor advice-ref="advice" pointcut-ref="pointcut"/>
    </aop:config>
</beans>











